@model Bloggie.web.Models.ViewModel.AddBlogPostRequest
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "Add Post";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1 class="text-center">Add New BlogPost - Admin Functionality</h1>
    </div>
</div>
<form method="post" enctype="multipart/form-data">
    <div class="nav-align-top">
        <ul class="nav nav-pills mb-3 d-flex justify-content-center mt-4" role="tablist">
            <li class="nav-item me-2">
                <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-home" aria-controls="navs-pills-top-home" aria-selected="true">Add Post</button>
            </li>
            <li class="nav-item">
                <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-profile" aria-controls="navs-pills-top-profile" aria-selected="false">SEO</button>
            </li>
        </ul>
        <div class="d-flex justify-content-end pe-5">
            <button type="submit" class="btn btn-dark" name="saveAction" value="saveSeo">Publish Post</button>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="navs-pills-top-home" role="tabpanel">
                <div class="container py-5">
                    <div class="card" style="max-width: 1800px; margin: auto;">
                        <div class="card-header">
                            <h5 class="card-title">Create New Blog Post</h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label class="form-label">Heading</label>
                                <input type="text" class="form-control" id="heading" asp-for="Heading" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Page Title</label>
                                <input type="text" class="form-control" id="pageTitle" asp-for="PageTitle" />
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Content</label>
                                <textarea class="form-control" id="content" asp-for="Content"></textarea>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Short Description</label>
                                <input type="text" class="form-control" id="shortDescription" asp-for="ShortDescription" />
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Featured Image Upload</label>
                                <input type="file" id="featuredImageUpload" class="form-control" />
                                <img class="mb-2 mt-2" src="" id="featuredImageDisplay" style="display:none;width: 300px;" />
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Featured Image URL</label>
                                <input type="text" class="form-control" id="featuredImageUrl" asp-for="FeaturedImageUrl" />
                            </div>

                            <div class="mb-3">
                                <label class="form-label">URL Handle</label>
                                <input type="text" class="form-control" id="urlHandle" asp-for="UrlHandle" />
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label">Published Date</label>
                                <input type="datetime-local" class="form-control" id="publishedDate" asp-for="PublishDate" value="@(DateTime.Now.ToString("yyyy-MM-ddTHH:mm"))" />
                            </div>

                            <div class="form-group mb-3">
                                <label asp-for="ScheduledPublishDate"></label>
                                <input type="datetime-local" asp-for="ScheduledPublishDate" class="form-control" />
                                <span asp-validation-for="ScheduledPublishDate" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Author</label>
                                <input type="text" class="form-control" id="author" asp-for="Author" readonly />
                            </div>

                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" id="visible" asp-for="Visible">
                                <label class="form-check-label">
                                    Is Publish?
                                </label>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Category</label>
                                <select class="form-select" asp-items="@Model.Tags" asp-for="SelectedTags">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="navs-pills-top-profile" role="tabpanel">
                <div class="container py-5">
                    <div class="card" style="max-width: 1000px; margin: auto;">
                        <div class="card-header">
                            <h5 class="card-title">SEO Details</h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label class="form-label">Meta Title</label>
                                <input type="text" class="form-control" id="metaTitle" asp-for="MetaTitle" />
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Meta Description</label>
                                <textarea class="form-control" id="metaDescription" asp-for="MetaDescription" style="width: 100%;"></textarea>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Meta Keywords</label>
                                <input type="text" class="form-control" id="metaKeywords" asp-for="MetaKeywords" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<partial name="_ScrollUp" />
@section Scripts {
    <script>
        var editor = new FroalaEditor('#content', {
            imageUploadURL: '/api/images',
            heightMin: 400 // Adjust the minimum height of the editor
        });

        // Elements for featured image upload and display
        const featuredUploadElement = document.getElementById('featuredImageUpload');
        const featuredImageUrlElement = document.getElementById('featuredImageUrl');
        const featuredImageDisplayElement = document.getElementById('featuredImageDisplay');
        // Set the author field with the logged-in username
        document.getElementById('author').value = '@userManager.GetUserName(User)';
     
        // Function to upload featured image and set URL
        async function uploadFeaturedImage(e) {
            let data = new FormData();
            data.append('file', e.target.files[0]);

            await fetch('/api/images', {
                method: 'POST',
                headers: {
                    'Accept': '*/*',
                },
                body: data
            }).then(response => response.json())
                .then(result => {
                    featuredImageUrlElement.value = result.link;
                    featuredImageDisplayElement.src = result.link;
                    featuredImageDisplayElement.style.display = 'block';
                });
        }

        // Attach event listener for featured image upload
        featuredUploadElement.addEventListener('change', uploadFeaturedImage);

        // Function to convert text to a SEO-friendly slug
        function createSlug(text) {
            return text.toString().toLowerCase()
                .replace(/\s+/g, '-')           // Replace spaces with -
                .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
                .replace(/\-\-+/g, '-')         // Replace multiple - with single -
                .replace(/^-+/, '')             // Trim - from start of text
                .replace(/-+$/, '');            // Trim - from end of text
        }

        // Elements for heading and URL handle
        const headingElement = document.getElementById('heading');
        const urlHandleElement = document.getElementById('urlHandle');

        // Update URL handle when heading is changed
        headingElement.addEventListener('input', function () {
            urlHandleElement.value = createSlug(headingElement.value);
        });
    </script>
}
